* {
  font-size: 1rem;
}

body {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 247, 247);
  font-family: monospace;
}

h1 {
  text-transform: uppercase;
}

.img-recipe {
  height: 30rem;
}

ul > li, ol {
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}


a:hover {
  text-decoration: underline;
}

hr {
  margin-bottom: 1em;
}

